{% extends "base.html" %}

{% block conteudo %}
    <h1>Assassino, durma!</h1>
    <img src="{{ url_for('static', filename='img/Amigos fora.jpg') }}" alt="Assassino durma" class="image-animation">
    <p>Aguarde enquanto o anjo escolhe quem salvar.</p>

    <p>Tempo restante: <span id="timer">60</span> segundos</p>

    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
    <script>
        startTimer(60, null, 'timer', '{{ url_for("votacao") }}');
    </script>
{% endblock %}
