{% extends "base.html" %}

{% block conteudo %}
<h1>Cidadão, durma!</h1>
<img src="{{ url_for('static', filename='img/images.jpg') }}" alt="Cidadão" class="image-animation">

<p>Aguarde enquanto o assassino e o anjo fazem suas escolhas.</p>

<p>Tempo restante: <span id="timer">60</span> segundos</p>

<script>
    let timeLeft = 60;
    const timerElement = document.getElementById('timer');

    const countdown = setInterval(() => {
        timeLeft--;
        timerElement.textContent = timeLeft;
        if (timeLeft <= 0) {
            clearInterval(countdown);
            window.location.href = "{{ url_for('votacao') }}";
        }
    }, 1000);
</script>
{% endblock %}
