{% extends "base.html" %}

{% block conteudo %}
{% if session["papel"] == "assassino" %}
<h1>Você é o Assassino!</h1>
<img src="{{ url_for('static', filename='img/Amigos fora.jpg') }}" alt="Assassino" class="image-animation">
<p>Sua missão é eliminar os cidadãos à noite sem ser descoberto.</p>

{% elif session["papel"] == "anjo" %}
<h1>Você é o Anjo!</h1>
<img src="{{ url_for('static', filename='img/medico.jpg') }}" alt="Anjo" class="image-animation">
<p>Sua missão é salvar os cidadãos das ações do assassino.</p>

{% else %}
<h1>Você é um Cidadão!</h1>
<img src="{{ url_for('static', filename='img/images.jpg') }}" alt="Cidadão">
<p>Sua missão é sobreviver e votar para eliminar o assassino.</p>
{% endif %}

<form method="post">
    <button type="submit">Continuar</button>
</form>
{% endblock %}
